<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
	 <add key="github" value="https://nuget.pkg.github.com/DohaAbdelkarim/index.json" />
  </packageSources>
  <packageSourceCredentials>
        <github>
            <add key="Username" value="DohaAbdelkarim" />
            <add key="ClearTextPassword" value="az" />
        </github>
    </packageSourceCredentials>
</configuration>